h1 {
  color: black;
}
h2 {
  color: black;
}
h3 {
  color: black;
}
a {
  color: steelblue;
}


body{ /* Normal  */
    font-size: 20px;
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.45;
}


pre {
  font-family:  "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code {
  font-size: 90%;
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  font-size: 90%;
  line-height: 1.45;
  border-radius: 5px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  font-size: 90%;
  line-height: 1.45;
  border: 0;
  padding: 16px;
  border-radius: 5px;
  margin-top: 16px;
  margin-bottom: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f6f8fa;
}

pre:not([class]) {
  border: 1;
  font-size: 80%;
  background-color: #f6f8fa;
}

code {
  border: 1;
  font-family:  "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code:not([class]) {
  font-family:   Consolas, Menlo, Courier, monospace;
  background-color: white;
}

.pre.r {
    font-size: 98%;
    background-color: #f6f8fa;
}

.sourceCode.r  {
  font-family:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 98%;
  background-color: #f6f8fa;
}

.sourceCode.c  {
  font-family:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 98%;
  background-color: #f6f8fa;
  color: black;
}

.slide.section {
  line-height: 1.1;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 36px;
}


.slide.titlepage {
  font-size: 48px;
}

.alert {
  color: firebrick;
  font-weight: bold;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  
}

.defout  {
  font-weight: normal;
  color: black;
  border: 5px;
  margin-top: 16px;
  margin-bottom: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 75%;
}

.mypre {
  color: darkslateblue;
  background-color: #f6f8fa;
}

alrt {
  color: firebrick;
  font-weight: bold;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
dsb {
  color: darkslateblue;
  font-weight: bold;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.column-left{
  float: left;
  width: 50%;
  text-align: left;
}
.column-center{
  display: inline-block;
  width: 33%;
  text-align: center;
}
.column-right{
  float: right;
  width: 50%;
  text-align: left;
}
.spacer {
  min-height: 150px;
}